// _base.jade
//- Main layout, everything should extend this one.
include _mixins

doctype 5
html
  head
    link(rel='stylesheet', type='text/css', href='/css/master.css')
    title
      block title
        = site_name
  body
    p Some Nav
    
    block content
      code CONTENT BLOCK

    footer
      block footer
        code FOOTER BLOCK
