// Template Helpers

mixin job_item(job)
  li
    h3= job.title
      small= ' // ' + job.subtitle
    != job.content


mixin news_item(news)
  li: a(href=news.url)= news.title
    |  (
    +date_short(news.date)
    | )

// Date Helpers

mixin date_short(date)
  !=momentjs(date).lang('de').format('Do MMMM YYYY')
