// index.jade
extends _base

block prepend title
  | Start |

block content
  p This is the index view!

  h2 News on this site:
  - sort(site.news['2014'], { by: 'date' })
  each news in site.news['2014']
    //- there are fucking `null`s in the array. Skip them.
    if news
      +news_item(news)

  h2 Archived News
  each news in site.news['2013']
    if news
      +news_item(news)

  h2 Open Jobs
  each job in site.jobs
    +job_item(job)

block footer
  p Index footer!